<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/styles.css') }}">
  <script src="{{url_for('static', filename='stylesheets/jquery.min.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<a href="/index">
		<div class="svg-wrapper">
	  		<svg height="80" width="1000" xmlns="http://www.w3.org/2000/svg">
		    	<rect class="shape1" height="80" width="1000" />
		    	<rect class="shape2" height="80" width="1000" />
		    	<div class="text">Heart Disease Prediction</div>
	  		</svg>
		</div>
		<div class="bb"></div>
	</a>
</body>
</html>